@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 10% 5%;
    --foreground: 208 0% 90%;
    --card: 208 0% 0%;
    --card-foreground: 208 0% 90%;
    --popover: 208 10% 5%;
    --popover-foreground: 208 0% 90%;
    --primary: 208 70.2% 68.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 208 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 170 10% 15%;
    --muted-foreground: 208 0% 60%;
    --accent: 170 10% 15%;
    --accent-foreground: 208 0% 90%;
    --destructive: 0 80% 60%;
    --destructive-foreground: 208 0% 90%;
    --border: 208 70.2% 68.4%;
    --input: 208 20% 18%;
    --ring: 208 70.2% 68.4%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  html {
    color-scheme: dark;
    @apply h-full antialiased;
  }

  body {
    @apply h-full border-border;
  }

  #root {
    @apply h-full;
  }
}
