@import "./theme.css";

* {
  border: none;
  border-radius: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  min-height: 0;
  color: @white;
}

window#waybar {
  background: transparent;
  color: @white;
}

#window {
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
}

/* Workspaces */
#workspaces button {
  padding-right: 2px;
  background: transparent;
  color: @workspace-default-color;
  border-top: 2px solid transparent;
  margin-right: 8px;
}

#workspaces button.active {
  border-top: 2px solid @workspace-active-color;
}

#workspaces button.active label {
  color: @workspace-active-color;
}

#workspaces button.urgent {
  border-top: 2px solid @workspace-urgent-color;
}

#workspaces button.urgent label {
  color: @workspace-urgent-color;
}

/* Mode */
#mode {
  background: @mode-bg;
  border-bottom: 3px solid @mode-border;
}

/* Common modules spacing */
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#custom-opacity,
#custom-power {
  padding: 0 12px;
  margin: 0 8px;
  border: 1px solid @workspace-default-color;
  border-radius: 9999;
}

#tray menu {
  border: 1px solid @menu-hover-bg;
  border-radius: 6px;
  padding: 4px; /* Optional: Adds space between border and items */
}

#tray menu *:disabled,
#tray menu *.insensitive {
  color: @menu-disabled-fg;
  background-color: transparent;
}

/* Tray Menu Dark Theme */
#tray menu,
#tray menu menuitem {
  background-color: @black;
  color: @white;
}

/* Hovered/Selected Tray Menu Item */
#tray menu menuitem:hover,
#tray menu menuitem:active,
#tray menu menuitem:selected,
#tray menu menuitem:focus {
  background-color: @menu-hover-bg;
  color: @white;
}

#clock {
  font-weight: bold;
}

/* Battery */
#battery icon {
  color: @battery-icon-color;
}

#battery.warning:not(.charging) {
  color: @battery-warning-color;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: @battery-warning-blink-bg;
    color: @battery-warning-blink-fg;
  }
}

/* Network */
#network.disconnected {
  background: @network-disconnected-bg;
}
